[submodule "new-bongle"]
	path = new-bongle
	url = https://github.com/isaac-mason/new-bongle.git
[submodule "games/wizard-game"]
	path = games/wizard-game
	url = https://github.com/isaac-mason/bongle-wizard-game.git
[submodule "games/circus-obby"]
	path = games/circus-obby
	url = https://github.com/isaac-mason/bongle-circus-obby.git
[submodule "games/bow-pvp"]
	path = games/bow-pvp
	url = https://github.com/isaac-mason/bongle-bow-pvp.git
